<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="google-signin-client_id" content="86868105440-gtfdf40gfpm70cid8qj4n15cdtp1bkn0.apps.googleusercontent.com")
    link(href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="styles.css")
    block title
  body
    block body
    script(src="https://apis.google.com/js/platform.js" async defer)
    script(type="text/javascript" src="./app.js")
